<h1>{{ order.create_time | date }}</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of order.orderItems">
      <td>{{item.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.unitPrice | currency:"MYR"}}</td>
      <td>{{item.getTotalPrice() | currency:"MYR"}}</td>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" id="table-total-text">Total</td>
      <td>{{order.orderItems | totalPipe | currency:"MYR"}}</td>
    </tr>
    <tr>
      <td colspan="3" id="table-total-text">Tax</td>
      <td>{{order.orderItems | totalPipe | taxpipe:6 | currency:"MYR"}}</td>
    </tr>
    <tr>
      <td colspan="3" id="table-total-text">Total w/Tax</td>
      <td>{{order.orderItems | totalPipe | taxpipe:106 | currency:"MYR"}}</td>
    </tr>
  </tfoot>
</table>

<button class="btn btn-default" (click)="goBack()">Back</button>